node_modules/
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
dist/
dist-ssr/
*.local
.vite/
.cache/
*-lock.json
backup*
*_backup/
client_backup/
server_backup/
.ssh/
server/uploads/
client/dist-new/
*.patch
nginx-ssl.conf
nginx.conf.backup
*.backup
.ssh_key/
swap
.env.production
